<h1>Add New Product</h1>
<form action="/products/new" method="POST">
    <div>
        <label for="Name">
            Name of Product
        </label>
        <input name="name">
    </div>
    <div>
        <label for="Price">
            Price of Product
        </label>
        <input name="price">
    </div>
    <div>
        <label for="Inventory">
            How Many in Inventory
        </label>
        <input name="inventory">
    </div>
    <div>
        <button>Finalize</button>
    </div>
</form>

